<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<main role="main"/>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Account Created</h1>
        </div>
    </div>

    <div class="container" th:fragment="content">
        <div th:if="${username == null}">
            <h1>What are you doing here?</h1>
        </div>
        <div th:unless="${username == null}">
            <h1 th:text=" 'Hey, your account has been created! Now go sign in!'"></h1>
        </div>

    </div>

</body>
</html>