<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Certificates</h1>
            <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">


    <form name="f" th:action="@{/addCert}" method="post">
        <div>Run the following commands in your terminal. Then, paste the output (including the BEGIN and END lines) in the below text box.</div>
        <pre th:text="${command}">
            sudo openssl genpkey -algorithm RSA -out /etc/ipsec.d/private/vpn_client_key.pem -pkeyopt rsa_keygen_bits:2048
            sudo openssl req -new -keyform pem -key /etc/ipsec.d/private/vpn_client_key.pem -subj '/C=US/O=test/CN=peer1'
        </pre>
<!--
        <pre th:text="'subject: '+${subject}">


        </pre>-->
        <fieldset>
            <label for="csr">CSR:</label>
            <textarea id="csr" name="csr" cols="70" rows="6"/>
            <p th:if="${csr_error} != null" th:text="${csr_error}"></p><br/>

            <input type="hidden" name="subscriptionId" th:value="${subscriptionId}"></input>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn">Request Cert</button>
        </div>
    </form>
</div>
    </div>
</main>
</body>
</html>