<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<div class="container" th:fragment="content">
    <div th:if="${username == null}">
        <div>What are you doing here?</div>
    </div>
    <div th:unless="${username == null}">
        <div th:text=" 'Hi,' + ${username} + '.' ">Hi, username</div>
    </div>

    <form name="f" th:action="@{/addCert}" method="post">
        <div>Paste in your CSR.</div>
        <pre>
            sudo openssl genpkey -algorithm RSA -out /etc/ipsec.d/private/vpn_client_key.pem -pkeyopt rsa_keygen_bits:2048
            sudo openssl req -new -keyform pem -key /etc/ipsec.d/private/vpn_client_key.pem -subj '/C=US/O=test/CN=peer1'
        </pre>
        <fieldset>
            <label for="csr">CSR:</label>
            <textarea id="csr" name="csr" cols="70" rows="6"/>
            <p th:if="${csr_error} != null" th:text="${csr_error}"></p><br/>

            <input type="hidden" name="subscriptionId" th:value="${subscriptionId}"></input>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn">Request Cert</button>
        </div>
    </form>
</div>
</body>
</html>