<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Certificates</h1>
            <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">

    <div th:if="${certificatesSize == 0}">You don't have any certificates associated with this subscription.</div>

    <table th:unless="${certificatesSize == 0}" th:classappend="table">
        <tr>
            <th>Certificate</th>
            <th>Download</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="certificate : ${certificates}">
            <td><pre th:text="${certificate.certText}">certificate text</pre></td>
            <td><a th:href="'/downloadCert?serial='+${certificate.serial}">download</a></td>
            <td><a th:href="'/deleteCert?serial='+${certificate.serial}">delete</a></td>
        </tr>
    </table>

    <a th:href="'/addCert?subscriptionId='+${subscriptionId}">Add a certificate</a>


</div>
    </div>
</main>

</body>
</html>