<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Certificates</h1>
            <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
        </div>
    </div>

    <div class="container">

    <div th:if="${certificatesSize == 0}">You don't have any certificates associated with this subscription.</div>
        <div class="row d-none d-lg-flex" th:unless="${certificatesSize == 0}">
            <div class="col-lg-2">Serial</div>
            <div class="col-lg-6">Subject</div>
            <div class="col-lg-2">Download</div>
            <div class="col-lg-2">Delete</div>
        </div>
        <div class="row" th:each="certificate : ${certificates}" th:unless="${certificatesSize == 0}">
            <div class="d-lg-none col-md-3 col-sm-3 col-xs-3 right-align">Serial:</div><div class="col-lg-2 col-md-9 col-sm-9 col-xs-9" th:text="${certificate.serial}"></div>
            <div class="d-lg-none col-md-3 col-sm-3 col-xs-3 right-align">Subject:</div><div class="col-lg-6 col-md-9 col-sm-9 col-xs-9" th:text="${certificate.subject}"></div>
            <div class="d-lg-none col-md-3 col-sm-3 col-xs-3 right-align">Download:</div><div class="col-lg-2 col-md-9 col-sm-9 col-xs-9"><a th:href="'/downloadCert?serial='+${certificate.serial}">download</a></div>
            <div class="d-lg-none col-md-3 col-sm-3 col-xs-3 right-align">Delete:</div><div class="col-lg-2 col-md-9 col-sm-9 col-xs-9"><a th:href="'/deleteCert?serial='+${certificate.serial}">delete</a></div>
            <hr class="d-lg-none col-lg-3 col-md-3 col-sm-3 col-xs-3 right-align" style="width: 100%;"/>
        </div>


    <!--<div style="overflow-x:auto;">
    <table th:unless="${certificatesSize == 0}" th:classappend="table">
        <tr>
            <th>Certificate</th>
            <th>Download</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="certificate : ${certificates}">
            <td><pre th:text="${certificate.certText}">certificate text</pre></td>
            <td><a th:href="'/downloadCert?serial='+${certificate.serial}">download</a></td>
            <td><a th:href="'/deleteCert?serial='+${certificate.serial}">delete</a></td>
        </tr>
    </table>
    </div>-->
    <a th:href="'/addCert?subscriptionId='+${subscriptionId}">Add a certificate</a>


</div>
</main>

</body>
</html>