<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<div class="container" th:fragment="content">
    <div th:if="${username == null}">
        <div>What are you doing here?</div>
    </div>
    <div th:unless="${username == null}">
        <div th:text=" 'Hi,' + ${username} + ' here are the certs for your subscription.'">Hi, username</div>

    </div>

    <h3>Certificates</h3>
    <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
    <div th:if="${certificatesSize == 0}">You don't have any certificates associated with this subscription.</div>

    <table th:unless="${certificatesSize == 0}" th:classappend="table">
        <tr>
            <th>Certificate</th>
            <th>Download</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="certificate : ${certificates}">
            <td><pre th:text="${certificate.certText}">certificate text</pre></td>
            <td><a th:href="'/downloadCert?serial='+${certificate.serial}">download</a></td>
            <td><a th:href="'/deleteCert?serial='+${certificate.serial}">delete</a></td>
        </tr>
    </table>

    <a th:href="'/addCert?subscriptionId='+${subscriptionId}">Add a certificate</a>


</div>

</body>
</html>