<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-5">Create Account</h1>
    </div>
</div>
<div class="container" th:fragment="content">
    <form name="f" th:action="@{/createaccount}" method="post">
            <p class="alert alert-danger" th:if="${username_error} != null" th:text="${username_error}"></p><br/>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:value="${username}"/>

            <p class="alert alert-danger" th:if="${password_error} != null" th:text="${password_error}"></p><br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>

            <p class="alert alert-danger" th:if="${password_confirm_error} != null" th:text="${password_confirm_error}"></p><br/>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword"/>

            <br/><label for="captcha">Enter the value shown below.</label><br/>
            <div class="alert alert-danger" th:if="${captcha_error} != null" th:text="${captcha_error}"></div>
            <img th:src="@{/generatecaptcha}"/><br/>
            <input type="text" id="captcha" name="captcha"/>
        <div class="form-actions">
            <button type="submit" class="btn">Create Account</button>
        </div>
    </form>
</div>

</body>
</html>