<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Add Payment</h1>
            <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">

    <div class="alert alert-danger" th:if="${invalidPassword} != null">You entered an <strong>invalid password</strong> when trying to delete.</div>

            <pre th:text="${certInfo}">certificate text</pre>

    <form name="f" th:action="@{/deleteCert}" method="post">
        <fieldset>
            <label for="password">Please confirm your password</label>
            <input type="password" id="password" name="password"/><br/>
            <input type="hidden" name="serial" th:value="${certificate.serial}"/>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn">Delete</button>
        </div>
    </form>
</div>
    </div>
</main>

</body>
</html>