<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<div class="container" th:fragment="content">
    <form name="f" th:action="@{/accountsetup}" method="post">
        <fieldset>
            <legend>Please Send Payment</legend>
            <p title="payTo" th:text="'pay to: ' + ${payTo}">payTo</p>

            <div th:if="${pendingPayment != null}">You've already initiated a payment. It will need to have at least one confirmation before you can initiate another one.</div>
            <!--<label for="btc">BTC:</label>
            <input type="text" id="btc" name="btc" th:value="${btc}"/>
            <p th:if="${bitcoin_error} != null" th:text="${bitcoin_error}"></p><br/>-->
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn">Next: Payment info</button>
        </div>
    </form>
</div>

</body>
</html>