<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Die Sonnensystem</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:if="${#authorization.expression('!isAuthenticated()')}" th:classappend="${page == 'createaccount' ? 'active' : ''}">
                    <a href="#" th:href="@{/createaccount}">Create account</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" th:classappend="${page == 'myaccount' ? 'active' : ''}">
                    <a href="#" th:href="@{/myaccount}">My account</a>
                </li>
                <li th:classappend="${page == 'howitworks' ? 'active' : ''}">
                    <a href="#" th:href="@{/howitworks}">How it works</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" th:classappend="${page == 'contact' ? 'active' : ''}">
                    <a href="#" th:href="@{/contact}">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn" type="submit" value="Log out" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>