<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="header :: header" th:fragment="header">
</div>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">How it works</h1>
        </div>
    </div>

    <div class="container">
        <div class="padding-bottom">
            <h3>1. Sign up</h3>
            <div>All that's needed to create an account is a username and password. We don't want your email address, or - frankly - to know anything about you. </div>
        </div>
        <div class="padding-bottom">
            <h3>2. Choose your package</h3>
            <div>We offer three different subscription packages.</div>
            <div>Our 3-day subscription package has a limit of 1 certificate and 6 GB total bandwidth and is $1.00</div>
            <div>Our 7-day subscription package has a limit of 2 certificates and 50 GB total bandwidth and is $5.00</div>
            <div>Our 30-day subscription package has a limit of 5 certificates and 300 GB total bandwidth and is $10.00</div>
        </div>

        <div class="padding-bottom">
            <h3>3. Pay via Bitcoin</h3>
            <div>We only accept payment via Bitcoin. We don't want to deal with credit card companies or payment processors.</div>
        </div>

        <div class="padding-bottom">
            <h3>4. Download Certificate</h3>
            <div>Other providers use password-based authentication. This requires that both you and they are storing it securely. We, however, only support certificate-based authentication. An RSA key that never leaves your computer is much better than two parties sharing a password.</div>
            <div>We also don't want you to install some closed-source app to use our service. We recommend strongSwan, which is what we use for testing.</div>
            <div>After your subscription's payment has been confirmed, you'll be able to get a certificate. We'll give you a couple of openssl commands to run - these will create your private key and CSR. The private key will never leave your computer. You paste in your CSR, and we'll give you your certificate. Just add the certificate to your configuration adn restart the service.</div>
            <div></div>
        </div>

        <div class="padding-bottom">
            <h3>5. Enjoy using your secure Internet</h3>
            <div>Get the peace-of-mind from knowing that your internet traffic is protected from your ISP.</div>
        </div>

    </div>

</main>
<!--/* Footer fragment */-->
<footer th:replace="footer :: footer" class="text-center">&copy; 2017 Default Footer</footer>
</body>
</html>