<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="header :: header" th:fragment="header">
</div>
<!--/* The value passed from calling template will be inserted in this element */-->
<!--<div class="container" th:fragment="content">
    &lt;!&ndash; ============================================================================ &ndash;&gt;
    &lt;!&ndash; This content is only used for static prototyping purposes (natural templates)&ndash;&gt;
    &lt;!&ndash; and is therefore entirely optional. &ndash;&gt;
    &lt;!&ndash; ============================================================================ &ndash;&gt;
    <h1>Home Page</h1>
    <p>
        Welcome home :)
    </p>
</div>-->
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to BitStreamVPN</h1>
          <p>IPsec/IKEv2 certificate-based authentication</p>
          <p>No email address required</p>
          <p>No data logging</p>
          <p>Pay with Bitcoin</p>


          <p><a class="btn btn-primary btn-lg" href="/howitworks" role="button">Learn more »</a></p>
        </div>
      </div>




      <div class="container">
        <!-- Example row of columns -->

<!--
        <h2 class="gutter-xl-bottom">How it works</h2>
-->

                <div class="row">
          <div class="col-md-3">
            <h3> 1. Choose your package </h3>
            <p>We offer three different subscription packages: 3, 7, or 30 day.</p><!--
              <p>Our 3-day subscription package has a limit of 1 certificate and 6 GB total bandwidth and is $1.00</p>
              <p>Our 7-day subscription package has a limit of 2 certificates and 50 GB total bandwidth and is $5.00</p>
              <p>Our 30-day subscription package has a limit of 5 certificates and 300 GB total bandwidth and is $10.00</p>-->
<!--
                      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn More»</a></p>
-->
          </div>


          <div class="col-md-3">
            <h3>2. Pay via Bitcoin</h3>
              <p>We only accept payment via Bitcoin. We don't want to deal with credit card companies or payment processors.</p>
<!--
              <p>We also don't want your email address, or - frankly - to know anything about you. All that's needed to create an account is a username and password.</p>
-->
<!--
                      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn More»</a></p>
-->
          </div>

          <div class="col-md-3">
            <h3>3. Download Certificate</h3>
            <p>Other providers use password-based authentication. We, however, only support certificate-based authentication. An RSA key that never leaves your computer is much better than two parties sharing a password.</p>
<!--
                      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn More»</a></p>
-->
          </div>

         <div class="col-md-3">
            <h3>4. Enjoy using your secure Internet</h3>
            <p>Get the peace-of-mind from knowing that your internet traffic is protected from your ISP.</p>
<!--
             <p>You're not an idiot - You know what a VPN is. You know what an ISP is. And you know who's running the FCC.</p>
-->
<!--
                      <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn More»</a></p>
-->
          </div>
                </div>






        <hr/>

      </div>

</main>
<!--/* Footer fragment */-->
<footer th:replace="footer :: footer" class="text-center">&copy; 2017 Default Footer</footer>
</body>
</html>