<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="header :: header" th:fragment="header">
</div>
<!--/* The value passed from calling template will be inserted in this element */-->
<div class="container" th:fragment="content">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional. -->
    <!-- ============================================================================ -->
    <h1>Home Page</h1>
    <p>
        Welcome home :)
    </p>
</div>
<!--/* Footer fragment */-->
<footer th:replace="footer :: footer" class="text-center">&copy; 2017 Default Footer</footer>
</body>
</html>