<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Custom Please login:
<form action="login" method="post">
    <label for="username">Custom username:</label>
    <input type="text" id="username" name="username"/><br/>
    <label for="password">Custom password:</label>
    <input type="password" id="password" name="password"/><br/>
    <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
    <input type="submit"/>
</form>
</body>
</html>