<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
</head>
<header th:replace="layout :: header">
</header>
<body>
<div th:if="${param.error}">
    <div class="alert alert-danger">
        Invalid username and password.
    </div>
</div>
<div th:if="${param.logout}">
    <div class="alert alert-info">
        You have been logged out.
    </div>
</div>

Custom Please login:
    <form action="login" method="post">
        <label for="username">Custom username:</label>
        <input type="text" id="username" name="username"/><br/>
        <label for="password">Custom password:</label>
        <input type="password" id="password" name="password"/><br/>
        <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
        <input type="submit"/>
    </form>


</body>
</html>