<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <header th:replace="layout :: header">
    </header>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Subscriptions</h1>
        </div>
    </div>
    <div class="container">

        <div th:if="${subscriptionAdded}" class="alert alert-success">You've <strong>added</strong> a subscription.</div>
        <div th:if="${subscriptionDeleted}" class="alert alert-success">You've <strong>deleted</strong> a subscription.</div>

        <div th:if="${subscriptionsSize == 0}">There are no subscriptions associated with your account</div>
        <div th:unless="${subscriptionsSize == 0}">
            <div class="row d-none d-lg-flex">
                <div class="col-lg-1">ID</div>
                <div class="col-lg-2">Name</div>
                <div class="col-lg-1">Price</div>
                <div class="col-lg-2">Payments</div>
                <div class="col-lg-2">Certificates</div>
                <div class="col-lg-4">Status</div>
            </div>
            <div class="row" th:each="sp : ${subscriptionPresentations}">
                <div class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">ID:</div><div class="col-lg-1 col-md-6 col-sm-6 col-xs-6" th:text="${sp.id}"></div>
                <div class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Name:</div><div class="col-lg-2 col-md-6 col-sm-6 col-xs-6" th:text="${sp.subscriptionPackage.name}"></div>
                <div class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Price:</div><div class="col-lg-1 col-md-6 col-sm-6 col-xs-6" th:text="'$'+${sp.subscriptionPackage.price}"></div>
                <div class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Payments:</div><div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a th:href="'/payments?subscriptionId='+${sp.id}">payments</a></div>
                <div class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Certs:</div><div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a th:href="'/certs?subscriptionId='+${sp.id}">certificates</a></div>
                <div th:if="${sp.active}" class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Status:</div><div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" th:if="${sp.active}" th:text="${sp.desc}"></div>
                <div th:unless="${sp.active}" class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align">Status:</div><div class="col-lg-4 col-md-6 col-sm-6 col-xs-6" th:unless="${sp.active}">inactive</div>
                <hr class="d-lg-none col-md-6 col-sm-6 col-xs-6 right-align" style="width: 100%;"/>
            </div>

            <!--<table th:classappend="table">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Duration (days)</th>
                    <th>Price (USD)</th>
                    <th>Payments</th>
                    <th>Certificates</th>
                </tr>
                <tr th:each="sp : ${subscriptionPresentations}">
                    <td th:text="${sp.id}"></td>
                    <td th:if="${sp.active}" th:text="${sp.desc}"></td>
                    <td th:unless="${sp.active}">inactive</td>
                    <td th:text="${sp.duration}"></td>
                    <td th:text="${sp.price}"></td>
                    <td><a th:href="'/payments?subscriptionId='+${sp.id}">payments</a></td>
                    <td><a th:href="'/certs?subscriptionId='+${sp.id}">certificates</a></td>
                </tr>

            </table>-->
        </div>

        <a th:href="@{/addSubscription}">add a subscription</a>

    </div>
</body>
</html>