<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

<div class="container" th:fragment="content">
    <div th:if="${username == null}">
        <div>What are you doing here?</div>
    </div>
    <div th:unless="${username == null}">
        <div th:text=" 'Hi,' + ${username} + '.'">Hi, username</div>
    </div>
<!--
    <a th:href="'/addPayment?subscriptionId='+${subscriptionId}">add payment</a>
-->

    <div th:if="${confirmedPaymentsSize > 0}">
        <h3>Payment History</h3>
        <p th:text="'(for subscription #'+${subscriptionId}+')'"></p>
        <table th:classappend="table">
            <tr>
                <th>Receiving address</th>
                <th>Amount</th>
                <th>Time of 1st Confirmation</th>
            </tr>
            <tr th:each="payment : ${paymentPresentations}">
                <td th:text="${payment.receivingAddress}"></td>
                <td th:if="${payment.dateConfirm1 != null}" th:text="${payment.amount}">amount</td>
                <td th:if="${payment.dateConfirm1 != null}" th:text="${payment.desc}">1st confirmation</td>
                <td class="alert alert-warning" th:unless="${payment.dateConfirm1 != null}" th:colspan="3"><a th:href="@{/enterpayment}">Awaiting Confirmation</a></td>
            </tr>
        </table>
    </div>

    <form th:action="@{/addPayment}" method="post">
        <input type="hidden" name="subscriptionId" th:value="${subscriptionId}"/>
        <input class="btn" type="submit" value="add payment" />
    </form>

</div>
</body>
</html>