<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header">
</header>

 <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Sign in</h1>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <h2>Create An Account</h2>
            <div class="container">

                <form name="f" th:action="@{/createaccount}" method="post">

                    <legend>Please Create Account</legend>
                    <p class="alert alert-danger" th:if="${username_error} != null" th:text="${username_error}"></p><br/>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" th:value="${username}"/>

                    <p class="alert alert-danger" th:if="${password_error} != null" th:text="${password_error}"></p><br/>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"/>

                    <p class="alert alert-danger" th:if="${password_confirm_error} != null" th:text="${password_confirm_error}"></p><br/>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"/>

                    <br/><label for="captcha">Enter the value shown below.</label><br/>
                    <div class="alert alert-danger" th:if="${captcha_error} != null" th:text="${captcha_error}"></div>
                    <img th:src="@{/generatecaptcha}"/><br/>
                    <input type="text" id="captcha" name="captcha"/>
                    <div class="form-actions">
                        <button type="submit" class="btn">Create Account</button>
                    </div>
                </form>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Already have an account?</h2>
             <p><a class="btn btn-secondary" th:href="@{/login}" role="button">Login</a></p>
          </div>

        </div>

        <hr/>

      </div> <!-- /container -->

    </main>

</body>
</html>