<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:replace="layout :: header">

</header>

<!--/* Insert content fragment with content of the element with id = 'task-details' */-->
<div th:insert="layout :: content(~{ :: #task-details})">
    <div id="task-details">
        <h2>Task Details</h2>
        <div>Text</div>
    </div>
</div>

</body>
</html>